/* The CSS File for the Guide */

/* GLOBAL STYLES */

*{
    margin: 0;
    padding: 0;
}

body {
   font-family: "Montserrat", sans-serif;
     font-weight: 400;
    font-size: 20px;
    line-height: 1.5em;
    text-rendering: optimizeLegibility;
    color: #2b2b2b;
    background: #fff;
    font-family: Segoe UI;
}

.article {
  padding: 50px;
}

h1 {
    padding: 20px;
}

h2 {
    text-transform: uppercase;
    padding: 20px 0;
}

h3 {
    padding: 10px 0;
    font-size: 20px;
}

hr {
  width: 70%;
  margin: 20px auto;
  border-bottom: 1px solid #00f4ff;
}

p {
  font-size: 17px;
  line-height: 30px;
  padding-left: 20px;
}

/* LANDING */


/* HEAD */
